<div class="col-md-6">
  <div class="panel panel-info">
    <div class="panel-heading">
      Основные данные профиля
    </div>
    <div class="panel-body">
      <div class='form-group'>
        <% if @profile.avatar.url %>
            <%= image_tag @profile.avatar.url, size: '100', class: 'rounded mx-auto d-block' %>
        <% end %>
        <p class="well well-sm pull-right" style="width: 250px;"><%= @candidate.name %></p>
      </div>

      <p class="well well-sm"><%= @candidate.father_name %></p>
      <p class="well well-sm"><%= @candidate.surname %></p>
    </div>
   </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      Персональные данные
    </div>

    <div class="panel-body">
      <div class='form-group'>
        <%= label_tag :address, 'Адрес' %>
        <%= text_field_tag :address, @profile.address, class: 'form-control', size: 37, readonly: true %>
      </div>

    <%= label_tag :phone, 'Телефон :' %>
    <div class="input-group">
      <span class="input-group-addon">+7 :</span>
      <%= text_field_tag :phone, number_to_phone(@profile.phone, area_code: true), class: 'form-control', readonly: true %>
    </div>
    <br />

    <div class='form-inline'>
          <%= label_tag :salary, 'Заработная плата', class: 'label label-default' %>
          <%= text_field_tag :salary, number_to_currency(@profile.salary, locale: :ru), class: 'form-control', readonly: true %>
        <br />
    </div>
    </div>
    </div>
  </div>

<div class="col-md-6">
  <table class="table table-striped">
    <caption style="text-align:center">Навыки кандидата</caption>
    <tbody>
      <% @profile.skills.each do |item| %>
         <tr>
            <td><%= Skill.find(item).name %></td>
         </tr>
      <% end %>
    </tbody>
  </table>
</div>
